body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}

#app {
    width: 50%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.todoList {
    position: relative;
    width: 50%;
    height: 75%;
    border: 1px solid black;
    overflow: auto;
    list-style: decimal;
    border-radius: 5px;
}

.todoList li {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.todoList li:not(:last-child) {
    border-bottom: 1px solid black;
}

.todoList li:hover {
    text-decoration: line-through darkred;
}

.input-container input, button {
    margin: 15px;
    padding: 15px;
}

.input-container button {
    border: none;
    background: green;
    color: white;
    cursor: pointer;
}